
.main{
    background:#fff
    url(http://s.lietou-static.com/revs/p/beta2/images/pages/regist/bg_reg_h_main_18fe64f0.jpg) center 0 no-repeat;
    height: 610px;
}
.wrap{
    margin-right: auto;
    margin-left: auto;
    width: 980px;

}
.user-login-reg{
    width:278px;
    float: right;
    margin: 68px 30px 0 0;
    border:1px solid #333;
    background: #353535;
    position: relative;
}
.clearfix:before{
    display: table;
    line-height: 0;
    content: " ";
}

.user-login-reg li{
    width: 50%;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    text-align: center;
    float: left;
    color: #ccc;
    background-color: #353535;
    cursor: pointer;
    display: inline;
    font-family:'\5fae\8f6f\96c5\9ed1'
}

.user-login-reg li:hover{
    cursor: pointer;
}
.user-login-reg  .ui-tab-control .active{
    color: #fff;
    background: #555;
    cursor: default;
}

.user-login-reg .ui-tab-container{
    padding: 2px 20px 30px 20px;
}
.user-login-reg .ui-tab-container input{
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
    color: #555;
    vertical-align: middle;
    font-weight: 400;
}
.user-login-reg .input-xlarge{
    width:220px;
    padding: 4px 8px;
    border-radius: 0;
    font-size: 12px;
    margin-top: 10px;

}

input.input-xlarge{
    height: 36px;
    line-height: 36px;
    padding: 4px 8px;
}

.user-login-reg .optional{
    color:#aaabab;
    padding-top: 14px;
    height: 20px;
}

.user-login-reg .optional a{
    text-decoration: none;
    float: right;
    margin-top:2px;
    color: #aaabab;
}
.user-login-reg .login-form .actions{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
}

.user-login-reg .reg-form .actions{
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
}
.user-login-reg .login-form .actions .btn-warning{
    cursor: pointer;
    border-radius: 0;
    width: 238px;
    height: 48px;
    color: #fff;
    font-size: 20px;
    background-color: #fa0;
    border: none;
}
.user-login-reg .reg-form .actions .btn-warning{
    cursor: pointer;
    border-radius: 0;
    width: 238px;
    height: 48px;
    color: #fff;
    font-size: 20px;
    background-color: #fa0;
    border: none;
}
.hide{
    display: none;
}

