<component name="libraryTable">
  <library name="mybatis-3.1.1">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-spring-1.1.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>