<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sushe.dao.UserChallengeMapper" >
  <resultMap id="BaseResultMap" type="com.sushe.entity.UserChallenge" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="source_peo" property="sourcePeo" jdbcType="VARCHAR" />
    <result column="collenge_time" property="collengeTime" jdbcType="DATE" />
    <result column="is_allow" property="isAllow" jdbcType="VARCHAR" />
    <result column="accept_peo" property="acceptPeo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="reward_id" property="rewardId" jdbcType="VARCHAR" />
    <result column="punish_id" property="punishId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, count, source_peo, collenge_time, is_allow, accept_peo, address, reward_id, 
    punish_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_challenge
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_challenge
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sushe.entity.UserChallenge" >
    insert into user_challenge (id, type, count, 
      source_peo, collenge_time, is_allow, 
      accept_peo, address, reward_id, 
      punish_id, status)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, 
      #{sourcePeo,jdbcType=VARCHAR}, #{collengeTime,jdbcType=DATE}, #{isAllow,jdbcType=VARCHAR}, 
      #{acceptPeo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{rewardId,jdbcType=VARCHAR}, 
      #{punishId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sushe.entity.UserChallenge" >
    insert into user_challenge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="sourcePeo != null" >
        source_peo,
      </if>
      <if test="collengeTime != null" >
        collenge_time,
      </if>
      <if test="isAllow != null" >
        is_allow,
      </if>
      <if test="acceptPeo != null" >
        accept_peo,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="rewardId != null" >
        reward_id,
      </if>
      <if test="punishId != null" >
        punish_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="sourcePeo != null" >
        #{sourcePeo,jdbcType=VARCHAR},
      </if>
      <if test="collengeTime != null" >
        #{collengeTime,jdbcType=DATE},
      </if>
      <if test="isAllow != null" >
        #{isAllow,jdbcType=VARCHAR},
      </if>
      <if test="acceptPeo != null" >
        #{acceptPeo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="rewardId != null" >
        #{rewardId,jdbcType=VARCHAR},
      </if>
      <if test="punishId != null" >
        #{punishId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sushe.entity.UserChallenge" >
    update user_challenge
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=VARCHAR},
      </if>
      <if test="sourcePeo != null" >
        source_peo = #{sourcePeo,jdbcType=VARCHAR},
      </if>
      <if test="collengeTime != null" >
        collenge_time = #{collengeTime,jdbcType=DATE},
      </if>
      <if test="isAllow != null" >
        is_allow = #{isAllow,jdbcType=VARCHAR},
      </if>
      <if test="acceptPeo != null" >
        accept_peo = #{acceptPeo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="rewardId != null" >
        reward_id = #{rewardId,jdbcType=VARCHAR},
      </if>
      <if test="punishId != null" >
        punish_id = #{punishId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sushe.entity.UserChallenge" >
    update user_challenge
    set type = #{type,jdbcType=VARCHAR},
      count = #{count,jdbcType=VARCHAR},
      source_peo = #{sourcePeo,jdbcType=VARCHAR},
      collenge_time = #{collengeTime,jdbcType=DATE},
      is_allow = #{isAllow,jdbcType=VARCHAR},
      accept_peo = #{acceptPeo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      reward_id = #{rewardId,jdbcType=VARCHAR},
      punish_id = #{punishId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>