<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sushe.dao.UserDao" >
  <resultMap id="UserResultMap" type="com.sushe.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="hostel_id" property="hostelId" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="in_time" property="inTime" jdbcType="DATE" />
    <result column="is_head" property="isHead" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name,account,password, school_id, hostel_id, department, age, sex, level, education, status, create_time,
    in_time, is_head
  </sql>
  <select id="selectByPrimaryKey" resultType="com.sushe.entity.User" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!--根据账号与密码查询用户-->
  <select id="selectByAccountAndPassword" resultType="com.sushe.entity.User" >
    select
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=VARCHAR}
    and password=#{password,jdbcType=VARCHAR}
  </select>

  <!--根据账号查询用户-->
  <select id="selectByAccount" resultMap="UserResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM USER WHERE account=#{account,jdbcType=VARCHAR}
  </select>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sushe.entity.User" >
    insert into user (id, name, school_id, 
      hostel_id, department, age, 
      sex, level, education, 
      status, create_time, in_time, 
      is_head)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, 
      #{hostelId,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{inTime,jdbcType=DATE}, 
      #{isHead,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSimple" parameterType="com.sushe.entity.User" >
    insert into user (id, name,account,password)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{account,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.sushe.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="hostelId != null" >
        hostel_id,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="inTime != null" >
        in_time,
      </if>
      <if test="isHead != null" >
        is_head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="hostelId != null" >
        #{hostelId,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=DATE},
      </if>
      <if test="isHead != null" >
        #{isHead,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sushe.entity.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="hostelId != null" >
        hostel_id = #{hostelId,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="inTime != null" >
        in_time = #{inTime,jdbcType=DATE},
      </if>
      <if test="isHead != null" >
        is_head = #{isHead,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sushe.entity.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=VARCHAR},
      hostel_id = #{hostelId,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      in_time = #{inTime,jdbcType=DATE},
      is_head = #{isHead,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--<insert id="batchInsert" parameterType="java.util.List">-->
    <!--insert into DATA (ID, TEXT, STAUTS)-->
    <!--<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">-->
      <!--select-->
      <!--#{item.id,jdbcType=VARCHAR},-->
      <!--#{item.text,jdbcType=VARCHAR},-->
      <!--#{item.stauts,jdbcType=VARCHAR}-->
      <!--from dual-->
    <!--</foreach>-->
  <!--</insert>-->
</mapper>