<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.sushe.service.*" />
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="100000"/>
		<!--<property name="uploadTempDir" value="upload"></property>-->
	</bean>
	<!--<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
		<!--<property name="templateLoaderPath">-->
			<!--<value>ftl/</value>-->
		<!--</property>-->
		<!--&lt;!&ndash;<property name="freemarkerVariables">&ndash;&gt;-->
			<!--&lt;!&ndash;<map>&ndash;&gt;-->
				<!--&lt;!&ndash;<entry key="xml_escape" value-ref="fmXmlEscape" />&ndash;&gt;-->
			<!--&lt;!&ndash;</map>&ndash;&gt;-->
		<!--&lt;!&ndash;</property>&ndash;&gt;-->
		<!--<property name="defaultEncoding">-->
			<!--<value>utf-8</value>-->
		<!--</property>-->
		<!--<property name="freemarkerSettings">-->
			<!--<props>-->
				<!--<prop key="template_update_delay">3600</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->
</beans>