body { padding-top: 70px;}
ol,ul{
  list-style: none ;
}
.header .navbar-nav{
    margin-right: 20px;
    display: block;
}
.header .navbar-nav>li.dropdown{
    padding-left: 4px;
    padding-right: 4px;
}
.header .navbar-nav>li.dropdown.dropdown-toggle{
    margin: 0;
    padding:15px 10px 7px 10px;
}
.nav.pull-right > li > .dropdown-menu{
    right: 0;
    left:auto;
}

/* extended dropdowns */
.dropdown-menu.extended {
    min-width: 160px !important;
    max-width: 300px !important;
    width: 233px !important;
    background-color: #ffffff !important;
}

.dropdown-menu.extended:before,
.dropdown-menu.extended:after {
    border-bottom-color: #ddd !important;
}

.dropdown-menu.extended li a{
    display: block;
    padding: 5px 10px !important;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: normal !important;
}

.dropdown-menu.extended li i{
    margin-right: 3px;
}

.dropdown-menu.extended li a{
    font-size: 13px;
    padding: 10px !important;
    background-color: #ffffff;
}

.dropdown-menu.extended li a:hover {
    background-image: none;
    background-color: #f5f5f5;
    color: #000;
    filter:none;
}

.dropdown-menu.extended li p{
    padding: 10px;
    background-color: #eee;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.dropdown-menu.extended li a{
    padding: 7px 0 5px 0px;
    list-style: none;
    border-bottom: 1px solid #f4f4f4 !important;
    font-size: 12px;
    text-shadow: none;
}

.dropdown-menu.extended li:first-child a{
    border-top: none;
    border-bottom: 1px solid #f4f4f4 !important;
}

.dropdown-menu.extended li:last-child a {
    border-top: 1px solid white !important;
    border-bottom: 1px solid #f4f4f4 !important;
}

.dropdown-menu.extended li.external > a {
    font-size: 13px;
    font-weight: 400;
}

.dropdown-menu.extended li.external > a > i{
    margin-top: 3px;
    float: right;
}

/* header notifications dropdowns */
.dropdown-menu .dropdown-menu-list.scroller {
    padding-right: 0 !important;
    padding-left: 0;
    list-style: none;
}

.dropdown-menu.notification li > a .time {
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    font-style: italic;
}

/* header inbox dropdowns */
.dropdown-menu.inbox li > a .photo {
    float: left;
    padding-right: 6px;
}

.dropdown-menu.inbox li > a .photo > img {
    height: 40px;
    width: 40px;
}

.dropdown-menu.inbox li > a .subject {
    display: block;
}

.dropdown-menu.inbox li > a .subject .from {
    font-size: 14px;
    font-weight: 400;
    color: #02689b;
}

.dropdown-menu.inbox li > a .subject .time {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    float: right;
}

.dropdown-menu.inbox li > a .message {
    display: block !important;
    font-size: 12px;
}
.dropdown-menu-default{
    margin: 10px;
    padding:10px
}


/**左边个人样式**/
.profile-sidebar{
    float: left;
    width:300px;
    padding-top: 10px;
    height: 1280px;
}
.portlet.light{
    background: #ffffff;
}
.profile-sidebar-portlet{
    padding: 30px 0 0 0 !important;
}
.profile-userpic{

}
.profile-userpic img{
    float:none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border-radius: 50% !important;
    vertical-align: middle;

}
.profile-usertitle{
    text-align: center;
    margin-top: 20px;
}
.profile-username{
    color: #5a7391;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-userhostel{
    color:#5b9bd1;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 7px;
}
.profile-userbuttons{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}
/**上传头像样式**/
.profile-userbuttons .site-btn{
    padding: 8px 13px;
}
.profile-userbuttons .site-btn-green{
    background-color: #699f00;
    color: #fff;
    text-align: center;
    width: 124px;
    height: 38px;
    line-height: 38px;
   text-decoration: none;

}
input.upload-btn-placeholder{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 2;
    font-size: 24px;
    width: 224px;
    height: 38px;
}


.green-haze.btn{
    color: #ffffff;
    background-color: #44b6ae;
    border-radius: 15px;
}
.profile-userbuttons .btn:last-child{
    color: #ffffff;
    border-radius: 15px;
}



/**左边挑战信息样式**/
.profile-challage{
    padding-top: 20px;

}
.profile-challage-tab{
    padding: 10px 0;
}

.profile-challage-tab .profile-challage-tab-content{
    text-decoration: underline;
    margin-right: 20px;
}
.profile-challage-tab .profile-challage-tab-content:hover{
    cursor: pointer;

}
.profile-challage-tab-list span:hover{
    cursor: pointer;
}


/**
中间显示动态信息
**/

.school-feed-detail:first-child{
    background: #ffffff;
    margin-top: 10px;

}
.school-feed-detail{
    margin-top: 10px;
}
.school-feed-detail>.school-detail{
    padding: 10px 16px 0px 10px;
    background: #ffffff;

}

.school-feed-text{
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}
.school-media-wrap{
    margin: 2px 0 8px -50px;
    padding-top: 10px;
}
.school-media-wrap .media-box{
    float: left;
    margin:0 0 0 10px;
}
.school-media-wrap .media-box ul{
    list-style: none;
}
.school-media-wrap .media-box ul li{
    display: inline-block;
    vertical-align: top;

}
.school-media-wrap .media-box ul li img{
    width:96px;
    height: 96px;
}
.school-from-txt{
    color:#808080;
    text-decoration: none;
}
.school-from-txt a{
    color:#808080;
    text-decoration: none;
}
.school-from-txt a:hover{
    color:#eb7350;
}
.school-feed-handle{
    margin-top: 10px;
    overflow: hidden;

}
.school-feed-handle>.school-handle>.school-row-line{
    list-style: none;
    border-top-width: 1px;
    border-top-style:solid;
    border-color: #f2f2f5;


}
.school-feed-handle>.school-handle>.school-row-line li{
    width: 25%;
    float: left;
    height: 38px;
    zoom:1;
    display: list-item;

}
.school-feed-handle>.school-handle>.school-row-line li a{
    text-align: center;
    color: #eb7350;
    margin: 0 0 0 1px;
    display: block;
    text-decoration: none;
    padding: 1px 0;
    overflow:hidden;

}
.school-row-line .school-line1{
    display: block;
    height: 22px;
    margin: 7px 0;
    border-left-width: 1px;
    border-left-style: solid;
    line-height: 22px;
    border-color:#d9d9d9
}

/**右侧关注信息**/
.school-right-inner-wrap{
    padding-left: -50px;
}
.school-right-detail {
    /*margin: 10px 10px 10px 10px;*/
    background: #ffffff;
    margin-top: 10px;
}
.school-right-title{
    border-bottom-style: solid;
    border-bottom-color: #f2f2f5;
    border-bottom-width: 1px;
}
.school-right-title>.obj_name>.school_a_txt{
    color:#333;
    text-decoration: none;
    float: left;
    margin-right: 70px;
}
.school-right-inner .school-right-inner-wrap .pic{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.school-right-inner .school-right-inner-wrap .pic .person-face{
    border-radius: 50%;
}
.person_list{
    margin-left:-40px;
    padding-top: 20px;
}
.person_list .con{
    margin-left: 60px;
    margin-height:50px;
}
.person_list .con .name{
    width:138px;
    height:18px;
    font-size: 14px;
    overflow: hidden;

}
.person_list .con .name a{
    color: #333;
    font-weight: 700;
    background-color: #ffffff;
}
.person_list .con .name a:hover{
    color: #eb7350;
    text-decoration: none;
}
.school-title-btn{
    border-color:#d9d9d9;
    border-width: 1px;
    border-style: solid;
    padding: 0 10px 0 10px;
    display: inline-block;
    border-radius: 2px;
    height: 24px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    outline: none;

}


.school-title-btn .person_add{
    color: #fa7d3c!important;
}
.person_list .con span a{
    color: #333;
}
.person_list .con span a:hover{
    text-decoration: none;
    color:#eb7350 ;
}
.change{
    float: right;
}
.change a{
    text-decoration: none;
}
.change a:hover{
    text-decoration: none;
    color:#fa7d3c;
}



